<html>
<h1> Django Rulez</h1>
    <p>Hi there!</p>
    <p><em>It works!</em></p>
<a href="https://tutorial.djangogirls.org/pl/html/">tutorial do html</a>

<div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Pierwszy post</a></h2>
            <p>ABC ABC.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Drugi postt</a></h2>
            <p>ABABA.</p>
        </div>
</html>